<div class="member_info">
  <div class="member_name">
    {% if member.website %}
      <a href="{{ member.website }}" target="_blank" rel="noopener noreferrer">{{ member.name }}</a>
    {% else %}
      {{ member.name }}
    {% endif %}
  </div>
  <div class="member_institute">{{ member.institute }}</div>
  <div class="member_position">{{ member.position }}</div>
  <div class="member_field">{{ member.field }}</div>
</div>
