<div class="member_info">
  <div class="member_name">
    {% if member.website %}
      <a href="{{ member.website }}" target="_blank" rel="noopener noreferrer">{{ member.name }}</a>
    {% else %}
      {{ member.name }}
    {% endif %}
  </div>
  {% if member.position and member.position != "" %}
    <div class="member_position">{{ member.position }}</div>
  {% elsif member.institute and member.institute != "" %}
    <div class="member_institute">{{ member.institute }}</div>
  {% endif %}
</div>
